/* =========================
   GENERAL STYLES
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif; /* Main font (we’ll confirm actual font later) */
    line-height: 1.6;
    background: #fff;
    color:black;
}

/* =========================
   NAVBAR
========================= */
header {
    background: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
    margin-top: 0px;
    padding:25px;
   
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px 20px;
  color: rgb(0, 0, 0);
   font-size: 20px;
}

.logo h2 {
  font-size: 30px;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #4b4b4b;
}

.nav-links li  {
  color: rgb(79, 79, 79);
  text-decoration: none;
  font-weight: 500;
}
.nav-links a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover{
   color: #585757;
    border-bottom:2px solid rgb(82, 81, 81);
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  background: none;
  border: 0;
  color: rgb(0, 0, 0); 
}
/* =========================
   HERO SECTION
========================= */
.hero {
    display: flex;
    align-items:center;
    justify-content:center;
   text-align: center;
    flex-direction: row;
    padding: 0;
    gap: 30px;
    min-height: 100vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 0;
}


.social-links img {
  gap: 40px;
  width: 30px;
}
.social-links img:hover {
 transition: ease-in;
 transform: scale(1.05);
}






.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero-text h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #007BFF;
    margin: 0.5rem 0;
}
.hero-text h6{
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.hero-text p {
    margin-bottom: 1rem;
}

.hero-img{
   width: 350px;
  border-radius: 50%;
  padding: 10px 25px;
}


.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}



/* =========================
   ABOUT SECTION
========================= */
.about {
   display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 9%;
}
.container-about{
    padding:10px 30px;
    max-width:600px;
}

.About-image {
  width: 300px;
  border-radius: 90px;
  padding: 10px 25px;
  margin-top: 30px;

}
.about-title {
 text-align: center;
 margin: 0;
}
.about-title h2{
   font-size: 2.5rem;
    margin-bottom: 1rem;
}
.about-title h6 {
   font-size: 15px;
    font-weight: 100;
    color: #4b4b4b;
}
.about-info {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    font-size: 15px;

}

.about-card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
   border: 1px solid rgb(6, 6, 6);
    width: 250px;
    text-align: center;
    font-size: 15px;
}

.about-card img {
    width: 50px;
    margin-bottom: 1rem;
}
.about-inner {
    margin-top: 25px;
    font-size: 15px;
    color:#333;
}


/* =========================
   SERVICES SECTION
========================= */
.services {

    padding: 4rem 2rem;
    text-align: center;
}
.services h6 {
     font-size: 15px;
    font-weight: 100;
    color: #4b4b4b;
}
.services h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.services-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.service-card {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 250px;
   border: 1px solid rgb(6, 6, 6);
}

.service-card img {
    width: 40px;
    margin-bottom: 1rem;
}

/* =========================
   PROJECTS SECTION
========================= */
.projects {
    padding: 4rem 2rem 0  2rem;
    
    text-align: center;
    margin-bottom: 200px;
}
.projects h6{
     font-size: 15px;
    font-weight: 100;
    color: #4b4b4b;
}
.projects h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.projectcontainer {
    display: flex;
  flex-wrap: wrap; 
  gap: 2rem; 
  justify-content: center; 
}



.project-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 10px;
    
}



.project-card img {
    width: 200px;
    height: 40vh;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.buttonscontainer {
    display: flex;
    flex-direction: row;

}
.button2{
     border: 1px solid rgb(6, 6, 6);
     background-color: white;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color:black;
   
    
}

.button2:hover {
    background-color:black;
    color: #fff;
    cursor: pointer;
}
/* =========================
   CONTACT SECTION
========================= */
.contact {
   
    padding:  0 2rem  5rem 2rem;
    text-align: center;
    margin: 0;
}
.contact h6{
   font-size: 15px;
    font-weight: 100;
    color: #4b4b4b;
}
.contact h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact-info  {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    gap: 30px;
    padding:20px;
   border-radius: 20px;
  border: 1px solid rgb(6, 6, 6);
  max-width: 500px;
    margin: 0 auto;
}
.contact-info a {
     text-decoration: none;
    color: #000000;
    font-weight: 500;
   
    transition: color 0.3s;
}
.contact-info a:hover{
   color: #585757;
    border-bottom:2px solid rgb(82, 81, 81);
}

.contact-info img {
    width: 30px;
}
.contact-info div{
   justify-content: center;
   align-items: center;
    text-align: center;
}

.contact-form {
    margin-top: 2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    width: 100%;
}

/* =========================
   FOOTER
========================= */
footer {
    
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
   
    
}


.foot-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

}

.foot-links li {
    margin-left: 2rem;

}

.foot-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.foot-links a:hover {
     color: #585757;
    border-bottom:2px solid rgb(82, 81, 81);
}



/* =========================
   RESPONSIVE DESIGN
========================= */
@media (max-width: 985px)  {
   .navbar { position: relative; 
  padding: 15px 0 20px 0;
  
    
}

  .menu-icon { display: block; 

     margin-right: 0;}

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;           
    right: 0;
    width: 100%;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    background: white;
    border-top: 1px solid #ccc;
    z-index: 1000;
  }

  .nav-links.active { display: flex; 
}

     .projectcontainer{
       flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0;

    }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        padding-top: 0;
        margin-top: 0;
        text-align: center;
    }
    .about {
       flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        padding-top: 0;
        margin-top: 0;
        text-align: center;
    
    }
    .hero-img{
        margin-top: 0;
        
        margin-bottom: 10px;
    }
    .hero-text h1{
        margin-bottom: 10px;
    }
    .hero-text h6{
        margin-bottom: 0;
    }
    .hero-text h2{
        display: none;
    }
    .hero-text p{
        display: none;
    }
    .social-links{
        display: none;
    }
    .About-image{
        text-align: center;

    }
}

@media(max-width: 746px){
    
    .hero-img{
        width: 250px;
        margin-top: 0;
    }
    .footer{
        font-size: 10px;
    }


}

/*@media(max-width: 762px){
    .contact{
        width: 300px;
    }

}*/
@media (max-width: 641px){
    .hero-img{
    width: 200px;
    margin-top: 0; 
      
    }
     .hero-text h6{
        margin-bottom: 0;
        font-size:15px ;
    }
    .hero-text h1{
        font-size: 35px;
    }
}

@media (max-width: 638px) {
    .foot-links {
        flex-direction: column;
        gap: 20px;
        
    }
     .contact-info{

      flex-direction: column;

    }
    
}
@media (max-width: 375px) {
    .footer{
       font-size: 5px;
    }
}

/*@media (max-width: 890px) {
  .menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  background: none;
  border: 0;
  color: white; 
}

@media (max-width: 900px) {
  .navbar { position: relative; }

  .menu-icon { display: block; }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;         
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    background: white;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #007BFF;
    z-index: 1000;
  }

  .nav-links.active { display: flex; }
}
}*/
